extends ../../layouts/default

block content
	.w3-content
		.w3-row-padding.w3-padding-128
			.w3-container.w3-center
				br
				a(href= locale)
					img.w3-margin-top(src='/images/img_avatar.png', alt='Avatar', style='width:100px')
				p.w3-xxxlarge.w3-text-red: b 404
				h3 #{__('templates.404.line_01')}

