extends ../../layouts/default

block content
	.w3-content
		.w3-row-padding.w3-padding-64
			.w3-container
				.w3-large.w3-center
					br
					a(href= locale)
						img.w3-margin-top(src='/images/img_avatar.png', alt='Avatar', style='width:100px')
					p.w3-xxxlarge.w3-text-red: b Error (500)
					h3 #{__('templates.500.line_01')}
