doctype html
html
    title About 
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    body.w3-light-grey
        // Page Container
        .w3-content.w3-margin-top(style='max-width:1400px;')
            // The Grid
            .w3-row-padding
                // Left Column
                .w3-third
                    .w3-white.w3-text-grey.w3-card-4
                        .w3-container.w3-center
                            a(href='/')
                                img.w3-image.w3-border.w3-margin(src='/images/cv.png', style='width:200px', alt='Avatar')
                            //.w3-display-bottommiddle.w3-container.w3-text-black
                            h4.w3-text-black Phan Duy Thang
                        .w3-container
                            p
                                i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-large.w3-text-teal
                                | Software Engineer 
                            p
                                i.fa.fa-home.fa-fw.w3-margin-right.w3-large.w3-text-teal
                                | Humax Co., Ltd., South Korea
                            p
                                i.fa.fa-envelope.fa-fw.w3-margin-right.w3-large.w3-text-teal
                                | thangecp@gmail.com
                            p
                                i.fa.fa-phone.fa-fw.w3-margin-right.w3-large.w3-text-teal
                                | +82 10.6592.2210
                            hr
                            p.w3-large.w3-text-theme
                                b
                                    i.fa.fa-globe.fa-fw.w3-margin-right.w3-text-teal
                                    | Languages
                            p Vietnamese
                            .w3-light-grey.w3-round-xlarge
                                .w3-round-xlarge.w3-teal(style='height:24px;width:100%')
                            p English
                            .w3-light-grey.w3-round-xlarge
                                .w3-round-xlarge.w3-teal(style='height:24px;width:80%')
                            br
                    br
                    // End Left Column
                // Right Column
                .w3-twothird
                    .w3-container.w3-card-2.w3-white.w3-margin-bottom
                        h2.w3-text-grey.w3-padding-16
                            i.fa.fa-suitcase.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal
                            | Work Experience
                        .w3-container
                            h5.w3-opacity
                                b Software Engineer - Humax Co., Ltd., South Korea
                            h6.w3-text-teal
                                i.fa.fa-calendar.fa-fw.w3-margin-right
                                | Sep 2016 - 
                                span.w3-tag.w3-teal.w3-round Current
                            //p
                            //    | Research and develop network devices.
                            hr
                        .w3-container
                            h5.w3-opacity
                                b Software Engineer - Samsung Vietnam Mobile Center (SVMC), Samsung Electronics Vietnam (SEV)
                            h6.w3-text-teal
                                i.fa.fa-calendar.fa-fw.w3-margin-right
                                | 2013 - 2014
                            //p
                            //    | Develop andoid
                            hr
                        .w3-container
                            h5.w3-opacity
                                b Internship
                            h6.w3-margin-left 
                                | &#9679; Green Technology Center Automation, VIELINA, Vietnam
                            h6.w3-margin-left 
                                | &#9679; Research and Development Laboratory of Multimedia Technology (RDLAB), HUST
                            h6.w3-margin-left 
                                | &#9679; VTC Intecom company of VTC - Mutimedia Group, Vietnam
                            h6.w3-text-teal
                                i.fa.fa-calendar.fa-fw.w3-margin-right
                                | 2010 - 2013
                            //p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            //br
                            hr
                    .w3-container.w3-card-2.w3-white
                        h2.w3-text-grey.w3-padding-16
                            i.fa.fa-mortar-board.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal
                            | Education
                        .w3-container
                            h5.w3-opacity
                                b MSc. Information and Communication Technology
                            h6 Soongsil University (SSU), Seoul, South Korea
                            h6.w3-text-teal
                                i.fa.fa-calendar.fa-fw.w3-margin-right
                                | 2014-2016
                            h6 Research Field :
                            h6.w3-margin-left
                                | &#9679; Internet of Things Architectures 
                            h6.w3-margin-left
                                | &#9679; Internet of Things Network Standards.
                            hr
                        .w3-container
                            h5.w3-opacity
                                b BSc. Electronics and Telecommunications
                            h6 Ha Noi University of Science and Technology (HUST), Hanoi, Vietnam
                            h6.w3-text-teal
                                i.fa.fa-calendar.fa-fw.w3-margin-right
                                | 2008 - 2013
                            hr
                    .w3-container.w3-card-2.w3-white
                        h2.w3-text-grey.w3-padding-16
                            i.fa.fa-newspaper-o.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal
                            | Publications
                        .w3-container
                            h5.w3-opacity
                                b Journal
                            h6.w3-margin-left 1. 
                                b.w3-text-red Thang Phan Duy, 
                                | Thanh Dinh, Younghan Kim, 
                                b "A Rapid Joining Scheme in Highly Dynamic TSCH Networks"
                                | , International Journal of Distributed Sensor Networks, June-2016. (
                                b.w3-text-red SCIE: 1.239 
                                | / Published)
                            h6.w3-margin-left 2. 
                                b.w3-text-red Thang Phan Duy, 
                                | Thanh Dinh, Younghan Kim, 
                                b "Distributed Timeslot and Channel Selection for Scheduling Function in 6TiSCH Networks"
                                | , International Journal on Computer Standards & Interfaces, August-2017. (
                                b.w3-text-red SCI: 1.633 
                                | / Published)
                            hr
                        .w3-container
                            h5.w3-opacity
                                b International Conference
                            h6.w3-margin-left 1. 
                                b.w3-text-red Thang Phan Duy, 
                                | Younghan Kim, 
                                b "A Efficient Joining Scheme in IEEE 802.15.4e"
                                | , International Conference on Information and Communication Technology Convergence (ICTC), Jeju, Oct-2015. (Published)
                            hr
                        .w3-container
                            h5.w3-opacity
                                b Domestic Conference
                            h6.w3-margin-left 1. 
                                b.w3-text-red Thang Phan Duy, 
                                | Younghan Kim, HyunSik Yang, 
                                b "A Sensing System based on Alljoyn Framework for Smart Home"
                                | , General Conference on Computer, Jeju, June-2015. (Published)
                            h6.w3-margin-left 2. Thanh Dinh, 
                                b.w3-text-red Thang Phan Duy, 
                                | Younghan Kim, 
                                b "An Efficient Interactive Model for On-demand Sensing Services of sensor-cloud"
                                | , ICC, Jeju, June-2016. (Published)
                            h6.w3-margin-left 2. 
                                b.w3-text-red Thang Phan Duy, 
                                b "PlugPlayco: An IoT Platform Based on Dashboard and Data Logging Services for Vietnam IoT Community"
                                | , ACVYS, Seoul, June-2017. (Published)
                            hr
                    // End Right Column
                // End Grid
            // End Page Container
        footer.w3-container.w3-teal.w3-center.w3-margin-top
            p Find me on social media.
            i.fa.fa-facebook-official.w3-hover-opacity
            p
                | Powered by 
                a(href='https://www.plugplay.co', target='_blank') plugplay.co
